
<% if @gifs.present? %>
  <div class='pull-left'>
    <%= button_tag 'Select all', type: 'button', :class => 'select-all-gifs btn btn-info' %>
  </div>
  <div class='pull-right'>
    <%= button_tag 'Add all to my collection', :class => 'add-selected-gifs btn btn-primary' %>
  </div>
  <div class="page-header"></div>
  <div class='pull-right'><%= show_pagination(@pages) %></div>
  <div class='row'>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th class='show-centered'></th>
          <th class='show-centered'>Gif</th>
          <th class='show-centered'>Tags</th>
          <th class='show-centered'>Actions</th>
        </tr>
      </thead>
      <% @gifs.each_with_index do |gif, index| %>
        <tr>
          <td class="checkbox show-centered">
            <label><%= show_checkbox(gif['exists']) %></label>
          </td>
          <td class='show-centered'><%= image_tag gif['image'] %></td>
          <td class='show-centered'><%= show_tags_input(gif['exists']) %></td>
          <td class='show-centered'>
            <%= show_action_button(gif) %>
            <%= hidden_field_tag 'giphy_id',  gif['id'] %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class='pull-right'><%= show_pagination(@pages) %></div>
<% else %>
  <div><h2>There is nothing matching your search!</h2></div>
<% end %>