<%= form_tag search_giphy_path, :method => :get, :class => 'navbar-form navbar-left', :role => 'search', :remote => true, :id => 'search_form' %>
	<div> <h1>You can search for your favorite gifs using the Giphy API</h1></div>
  <div class="row">
    <div class="input-group">
      <input type="text" name='q' class="form-control" placeholder="Search&hellip;">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Go</button>
      </span>
    </div>
  </div>
  <div class="page-header">
  </div>
  <div class="row" id="gifs">
  </div>