<div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email, "Email", for: "inputEmail", class: "control-label col-xs-2" %>
      <div class="col-xs-10">
        <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Your email" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password", for: "inputPassword", class: "control-label col-xs-2" %>
      <div class="col-xs-10">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "inputPassword", placeholder: "Password" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Password confirmation", for: "userPasswordConfirmation", class: "control-label col-xs-2" %>
      <div class="col-xs-10">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "userPasswordConfirmation", placeholder: "Password" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="page-header">
    </div>
    <div class="text-center">
     Already have an account? <%= link_to "Log in", new_session_path(resource_name) %>
    </div>
  <% end %>
</div>

