<% if @gifs.present? %>
  <div class='pull-right'><%= show_pagination(@gifs) %></div>
  <div id="gifs">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th class='show-centered'>Url</th>
          <th class='show-centered'>Image</th>
          <th class='show-centered'>Tags</th>
          <th class='show-centered' >Actions</th>
        </tr>
      </thead>
      <% @gifs.each_with_index do |gif, index| %>
        <tr>
          <td class='show-centered '><%= gif.giphy_id %></td>
          <td class='show-centered'><%= image_tag gif['image'] %></td>
          <td class='show-centered'><%= show_tag_list(gif.tag_list) %></td>
          <td class='show-centered'>
            <%= view_gif_button(gif.giphy_id) %>
            <%= remove_gif_button %>
            <%= hidden_field_tag 'giphy_id',  gif.giphy_id %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class='pull-right'><%= show_pagination(@gifs) %></div>
<% else %>
  <div> <h2>You don't have any gifs in your collection</div>
<% end %>