<%- if @gif.present? %>
  <div class="panel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 " align="center">
          <%= image_tag @gif.image, class: "img-circle img-responsive" %>
        </div>
        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>ID:</td>
                <td><%= @gif.giphy_id %></td>
              </tr>
              <tr>
                <td>Slug:</td>
                <td><%= @gif.slug %></td>
              </tr>
              <tr>
                <td>Url</td>
                <td><%= @gif.url %></td>
              </tr>
              <tr>
                <td>Source</td>
                <td><%= @gif.source %></td>
              </tr>
                <tr>
                <td>Import Date & Time</td>
                <td><%= @gif.import_datetime %></td>
              </tr>
              <tr>
                <td>Tags</td>
                <td><%= show_tag_list(@gif.tag_list) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% else %>
<div><h2>Nothing to show</h2></div>
<% end %>