<%- if user_signed_in? %>
  <nav role="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <%= link_to 'My Giphy Collection', gifs_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%- if user_signed_in? %>
          <li>
            <p class="navbar-text">Signed in as <%= current_user.email %></p>
          </li>
          <li>
            <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>
