<div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => "form-horizontal"}) do |f| %>
    <div class="form-group">
      <%= f.label :email, "Email", for: "inputEmail", class: "control-label col-xs-2" %>
      <div class="col-xs-10">
        <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail", placeholder: "Your email" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password", for: "inputPassword", class: "control-label col-xs-2" %>
      <div class="col-xs-10">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "inputPassword", placeholder: "Password" %>
      </div>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %> Remember me
            </label>
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="page-header">
    </div>
    <div class="text-center">
      Don't have account? <%= link_to "Sign up", new_registration_path(resource_name) %>
    </div>
  <% end %>
</div>
