$(document).ready ->
  $('body').delegate '.select-all-gifs', 'click', ->
    $('.select_gif').prop 'checked', true
    $(this).removeClass('select-all-gifs').addClass('deselect-all-gifs')
    $(this).text('Deselect all')

  $('body').delegate '.deselect-all-gifs', 'click', ->
    $('.select_gif').prop 'checked', false
    $(this).removeClass('deselect-all-gifs').addClass('select-all-gifs')
    $(this).text('Select all')

  # search
  $("#search_form").on "ajax:error", (e, xhr, status, error) ->
    show_message(xhr.responseJSON.errors[0], 'alert')

  # paginate
  $("#gifs").delegate('.pagination a', 'click', () ->
    event.preventDefault()
    url = $(@).attr('href')
    go_to_page(url)
  )

  # add single gif to my collection
  $("body").delegate('.add-gif', 'click', () ->
    params = []
    params.push(collect_row_info(this))
    add_gifs(params)
  )

  # remove single gif from my collection
  $("body").delegate('.remove-gif', 'click', () ->
    params = [collect_giphy_id(this)]
    remove_gifs(params)
  )

  # add multiple gifs to my collection
  $("body").delegate('.add-selected-gifs', 'click', () ->
    params = []

    $('table input:checkbox:checked').each (index) ->
      params.push(collect_row_info(this))

    add_gifs(params)
  )

  setTimeout (->
    empty_flash_message()
  ), 3000

show_message = (error_msg='test', type_msg='notice') ->
  $("#flash").html("<div class='alert alert-"+type_msg+"' role='alert'>"+error_msg+"</div>")

add_gifs = (params) ->
  action_url = '<%= Rails.application.routes.url_helpers.gifs_path %>'
  reload_url = "<%= Rails.application.routes.url_helpers.search_giphy_path %>?q="+get_search_query()
  manipulate_gifs(action_url, 'POST', params, reload_url)

remove_gifs = (params) ->
  action_url = '<%= Rails.application.routes.url_helpers.remove_path %>'
  reload_url = '<%= Rails.application.routes.url_helpers.gifs_path %>?'
  manipulate_gifs(action_url, 'DELETE', params, reload_url)

manipulate_gifs = (url, type, params, reload_url) ->
  $.ajax url,
    type: type
    dataType: 'json'
    data: { gifs: params }
    error: (xhr, error, errorThrown) ->
      show_message(xhr.responseJSON.errors[0], 'alert')
    success: (result) ->
      show_message('Your action was successfull', 'success')
      reload_current_page(reload_url)

collect_row_info = (obj) ->
  $row = $(obj).parents('tr')
  current_giphy_id = $row.find("input[name=giphy_id]").val()
  current_tags = $row.find("input.tags").val()

  return { giphy_id: current_giphy_id, tags: current_tags }

collect_giphy_id = (obj) ->
  $row = $(obj).parents('tr')
  current_giphy_id = $row.find("input[name=giphy_id]").val()

  return current_giphy_id

go_to_page = (url) ->
  $.ajax url,
    type: 'GET'
    dataType: 'script'
    error: (jqXHR, textStatus, errorThrown) ->
      show_message()

empty_flash_message = () ->
  $('#flash').empty()

get_search_query = () ->
  search_query = $("input[name=q]").val()

  if search_query
    search_query = encodeURI(search_query)

  return search_query

reload_current_page = (url) ->
  if current_page()
    url = url+"&page="+current_page()

  go_to_page(url)

current_page = () ->
  return $('.pagination .current').first().text()
