<!DOCTYPE html>
<html>
<head>
  <title>Foodora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <%= render :partial => "shared/header" %>
    <div class='content'>
      <div id="flash">
        <%- flash.each do |key, value| %>
          <%= global_message(key, value) %>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <%= render :partial => "shared/footer" %>
  </div>
</body>
</html>
